@import 'layers';

#hud {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: $layer_HUD;
    overflow: hidden;

    #fps {
        padding: 5px 10px;
        background-color: rgba(200, 200, 200, 0.6);
        border-radius: 5px;
        font-family: Monospace;
    }
}
