#map {
    height: 100%;
    overflow: auto;
    position: relative;
    background-color: black;

    .tile {
        $width: 32px;
        $height: 32px;

        position: absolute;
        width: $width;
        height: $height;

        .bg, .fg {
            position: absolute;
            top: 0;
            left: 0;
            width: $width;
            height: $height;
        }

        .bg {
            background-image: url('../images/sand.png');
        }

        .fg {
            z-index: 1;
        }

        &.wall .fg {
            background-image: url('../images/wall.png');
            box-shadow: 3px 3px 9px black;
        }

        &.water .bg {
            background-image: url('../images/water.png');
        }

        &.selected {
            .fg {
                outline: 1px solid lightgreen;
            }
        }
    }
}
