#map {
    height: 100%;
    overflow: auto;
    position: relative;
    background-color: black;

    .tile {
        position: absolute;
        width: 32px;
        height: 32px;

        &.floor {
            background-image: url('../images/sand.png');
        }

        &.wall {
            background-image: url('../images/wall.png');
        }

        &.water {
            background-image: url('../images/water.png');
        }
    }
}
