([
    // === SECTION ===========================================
    // backgrounds
    // blood and gore
    // body
    // fx
    // head
    // monster

    // EXAMPLE
    // ("melee-1h_1", ProtoSpriteConfig(
    //         files: ["weapons_saw-1-1.png", "weapons_saw-1-2.png"],
    //         offset: Some((16, 16)),
    //         alpha: Some(200),  // optional, defaults to 255
    //         frame_durration: Some(200), // optional, defaults to 50, only relevant for animations
    //     )),

    // === BEGIN SECTION head ================================
    ("head_1", ProtoSpriteConfig(
            files: ["chars/heads/no-helm-1.png"],
            offset: Some((0, 40)),
        )),
    ("head_2", ProtoSpriteConfig(
            files: ["chars/heads/no-helm-2.png"],
            offset: Some((0, 40)),
        )),
    ("head_3", ProtoSpriteConfig(
            files: ["chars/heads/no-helm-3.png"],
            offset: Some((0, 40)),
        )),
    ("head_4", ProtoSpriteConfig(
            files: ["chars/heads/no-helm-4.png"],
            offset: Some((0, 40)),
        )),
    ("head_5", ProtoSpriteConfig(
            files: ["chars/heads/no-helm-5.png"],
            offset: Some((0, 40)),
        )),
    ("head_6", ProtoSpriteConfig(
            files: ["chars/heads/no-helm-6.png"],
            offset: Some((0, 40)),
        )),
    ("head-heavy_1", ProtoSpriteConfig(
            files: ["chars/heads/helm-01.png"],
            offset: Some((0, 40)),
        )),
    ("head-heavy_2", ProtoSpriteConfig(
            files: ["chars/heads/helm-02.png"],
            offset: Some((0, 40)),
        )),
    ("head-heavy_3", ProtoSpriteConfig(
            files: ["chars/heads/helm-03.png"],
            offset: Some((0, 40)),
        )),
    ("head-heavy_4", ProtoSpriteConfig(
            files: ["chars/heads/helm-04.png"],
            offset: Some((0, 40)),
        )),
    ("head-heavy_5", ProtoSpriteConfig(
            files: ["chars/heads/helm-05.png"],
            offset: Some((0, 40)),
        )),
    ("head-heavy_6", ProtoSpriteConfig(
            files: ["chars/heads/helm-06.png"],
            offset: Some((0, 40)),
        )),
    ("head-heavy_7", ProtoSpriteConfig(
            files: ["chars/heads/helm-07.png"],
            offset: Some((0, 40)),
        )),
    ("head-heavy_8", ProtoSpriteConfig(
            files: ["chars/heads/helm-08.png"],
            offset: Some((0, 40)),
        )),
    ("head-zombi_1", ProtoSpriteConfig(
            files: ["chars/heads/zombi-1.png"],
            offset: Some((0, 40)),
        )),
    ("head-zombi_2", ProtoSpriteConfig(
            files: ["chars/heads/zombi-2.png"],
            offset: Some((0, 40)),
        )),
    ("head-zombi_3", ProtoSpriteConfig(
            files: ["chars/heads/zombi-3.png"],
            offset: Some((0, 40)),
        )),
    ("head-zombi_4", ProtoSpriteConfig(
            files: ["chars/heads/zombi-4.png"],
            offset: Some((0, 40)),
        )),
    ("head-zombi_5", ProtoSpriteConfig(
            files: ["chars/heads/zombi-5.png"],
            offset: Some((0, 40)),
        )),
    ("head-zombi_6", ProtoSpriteConfig(
            files: ["chars/heads/zombi-6.png"],
            offset: Some((0, 40)),
        )),
    ("head-zombi_7", ProtoSpriteConfig(
            files: ["chars/heads/zombi-7.png"],
            offset: Some((0, 40)),
        )),

    // === BEGIN SECTION body ================================
    ("body-heavy_1", ProtoSpriteConfig(
            files: ["chars/bodies/heavy-1.png"],
            offset: Some((0, 16)),
        )),

    ("body-light_1", ProtoSpriteConfig(
            files: ["chars/bodies/light-1.png"],
            offset: Some((0, 16)),
        )),
    ("body-light_2", ProtoSpriteConfig(
            files: ["chars/bodies/light-2.png"],
            offset: Some((0, 16)),
        )),
    ("body-light_3", ProtoSpriteConfig(
            files: ["chars/bodies/light-3.png"],
            offset: Some((0, 16)),
        )),
    ("body-light_4", ProtoSpriteConfig(
            files: ["chars/bodies/light-4.png"],
            offset: Some((0, 16)),
        )),
    ("body-zombi_1", ProtoSpriteConfig(
            files: ["chars/bodies/zombi-1.png"],
            offset: Some((0, 16)),
        )),
    ("body-zombi_2", ProtoSpriteConfig(
            files: ["chars/bodies/zombi-2.png"],
            offset: Some((0, 16)),
        )),

    // === BEGIN SECTION charcter fx ================================
    ("char-fx-ko", ProtoSpriteConfig(
            files: ["chars/fx/ko_1.png", "chars/fx/ko_2.png", "chars/fx/ko_3.png", "chars/fx/ko_4.png"],
            offset: Some((0, 16)),
        )),

    // === BEGIN SECTION body ================================
    ("monster-sucker_1", ProtoSpriteConfig(
            files: ["monster/sucker-idle_1.png", "monster/sucker-idle_2.png", "monster/sucker-idle_3.png", "monster/sucker-idle_4.png"],
            // offset: Some((0, -20)),
            frame_durration: Some(150),
        )),
    ("monster-sucker-prone_1", ProtoSpriteConfig(
            files: ["monster/sucker-idle_4.png"],
        )),
    ("monster-worm_1", ProtoSpriteConfig(
            files: ["monster/worm-idle.png"],
        )),
    ("monster-worm-dust_1", ProtoSpriteConfig(
            files: ["monster/worm-dust_1.png", "monster/worm-dust_2.png", "monster/worm-dust_3.png"],
            frame_durration: Some(150),
        )),
    ("monster-worm-hidden_1", ProtoSpriteConfig(
            files: ["fx/hit/dust-01_1.png", "fx/hit/dust-01_2.png", "fx/hit/dust-01_3.png"],
            frame_durration: Some(100),
        )),

    // === BEGIN SECTION Weapons ================================
    ("melee-1h_1", ProtoSpriteConfig( // power mace
            files: ["chars/equipment/mace-1_1.png", "chars/equipment/mace-1_2.png"],
            frame_durration: Some(200),
            offset: Some((0, 16)),
        )),
    ("melee-1h_2", ProtoSpriteConfig( // scimitar
            files: ["chars/equipment/sword-1.png"],
        )),
    ("staff-1", ProtoSpriteConfig( // injector
            files: ["chars/equipment/staff-1.png"],
        )),
    ("staff-2", ProtoSpriteConfig( // staff of light
            files: ["chars/equipment/staff-2.png"],
        )),
    ("melee-2h_1", ProtoSpriteConfig( // power saw
            files: ["chars/equipment/saw-1_1.png", "chars/equipment/saw-1_2.png"],
            offset: Some((0, 16)),
            frame_durration: Some(200),
        )),
    ("melee-2h_2", ProtoSpriteConfig( // spear #1
            offset: Some((0, 16)),
            files: ["chars/equipment/spear-1.png"],
        )),
    ("melee-2h_3", ProtoSpriteConfig( // spear #2
            offset: Some((0, 16)),
            files: ["chars/equipment/spear-2.png"],
        )),
    ("shild_1", ProtoSpriteConfig(
            files: ["chars/equipment/shild-1.png"],
        )),
    ("gun-2h_1", ProtoSpriteConfig(
            files: ["chars/equipment/gun-1.png"],
        )),
    ("xbow-2h_1", ProtoSpriteConfig(
            files: ["chars/equipment/xbow-1.png"],
        )),
    ("claws_1", ProtoSpriteConfig( // both claws in one image
            files: ["chars/equipment/claws-1.png"],
        )),

    // === BEGIN SECTION team backgrounds ================================
    // ("bg_team_1", ProtoSpriteConfig(
    //         files: ["chars/backgrounds/team-1.png"],
    //     )),
    // ("bg_team_2", ProtoSpriteConfig(
    //         files: ["chars/backgrounds/team-2.png"],
    //     )),
    // ("bg_active", ProtoSpriteConfig(
    //         files: ["chars/backgrounds/active_1.png", "chars/backgrounds/active_2.png", "chars/backgrounds/active_3.png"],
    //         frame_durration: Some(100),
    //     )),

    // === BEGIN SECTION floor backgrounds ================================
    ("floor", ProtoSpriteConfig(
            files: ["map/floor-hex-normal.png"],
        )),
    ("floor-hl", ProtoSpriteConfig(
            files: ["map/floor-hex-hl.png"],
        )),
    ("floor-move", ProtoSpriteConfig(
            files: ["ui/floor/feet.png"],
        )),
    ("floor-selected", ProtoSpriteConfig(
            files: ["map/floor-hex-selected-1.png"],
        )),
    ("floor-active", ProtoSpriteConfig(
            files: [
                    "map/floor-hex-selected-2.png",
                    "map/floor-hex-selected-3.png",
                    "map/floor-hex-selected-4.png",
                    "map/floor-hex-selected-5.png",
            ],
        )),

    ("wall-1", ProtoSpriteConfig(
            files: ["map/wall-1.png"],
        )),
    ("barricade-NW", ProtoSpriteConfig(
            files: ["map/barricade_NW-1.png"],
        )),

    // === BEGIN SECTION icons ================================
    ("icon-ai-ma-A", ProtoSpriteConfig( files: ["ui/cards/cards-small-1.png"])),
    ("icon-ai-ms-A", ProtoSpriteConfig( files: ["ui/cards/cards-small-2.png"])),
    ("icon-ai-pa-A", ProtoSpriteConfig( files: ["ui/cards/cards-small-3.png"])),
    ("icon-ai-ps-A", ProtoSpriteConfig( files: ["ui/cards/cards-small-4.png"])),
    ("icon-ai-ma-2", ProtoSpriteConfig( files: ["ui/cards/cards-small-5.png"])),
    ("icon-ai-ms-2", ProtoSpriteConfig( files: ["ui/cards/cards-small-6.png"])),
    ("icon-ai-pa-2", ProtoSpriteConfig( files: ["ui/cards/cards-small-7.png"])),
    ("icon-ai-ps-2", ProtoSpriteConfig( files: ["ui/cards/cards-small-8.png"])),
    ("icon-ai-ma-3", ProtoSpriteConfig( files: ["ui/cards/cards-small-9.png"])),
    ("icon-ai-ms-3", ProtoSpriteConfig( files: ["ui/cards/cards-small-10.png"])),
    ("icon-ai-pa-3", ProtoSpriteConfig( files: ["ui/cards/cards-small-11.png"])),
    ("icon-ai-ps-3", ProtoSpriteConfig( files: ["ui/cards/cards-small-12.png"])),
    ("icon-ai-ma-4", ProtoSpriteConfig( files: ["ui/cards/cards-small-13.png"])),
    ("icon-ai-ms-4", ProtoSpriteConfig( files: ["ui/cards/cards-small-14.png"])),
    ("icon-ai-pa-4", ProtoSpriteConfig( files: ["ui/cards/cards-small-15.png"])),
    ("icon-ai-ps-4", ProtoSpriteConfig( files: ["ui/cards/cards-small-16.png"])),
    ("icon-ai-ma-5", ProtoSpriteConfig( files: ["ui/cards/cards-small-17.png"])),
    ("icon-ai-ms-5", ProtoSpriteConfig( files: ["ui/cards/cards-small-18.png"])),
    ("icon-ai-pa-5", ProtoSpriteConfig( files: ["ui/cards/cards-small-19.png"])),
    ("icon-ai-ps-5", ProtoSpriteConfig( files: ["ui/cards/cards-small-20.png"])),
    ("icon-ai-ma-6", ProtoSpriteConfig( files: ["ui/cards/cards-small-21.png"])),
    ("icon-ai-ms-6", ProtoSpriteConfig( files: ["ui/cards/cards-small-22.png"])),
    ("icon-ai-pa-6", ProtoSpriteConfig( files: ["ui/cards/cards-small-23.png"])),
    ("icon-ai-ps-6", ProtoSpriteConfig( files: ["ui/cards/cards-small-24.png"])),
    ("icon-ai-ma-7", ProtoSpriteConfig( files: ["ui/cards/cards-small-25.png"])),
    ("icon-ai-ms-7", ProtoSpriteConfig( files: ["ui/cards/cards-small-26.png"])),
    ("icon-ai-pa-7", ProtoSpriteConfig( files: ["ui/cards/cards-small-27.png"])),
    ("icon-ai-ps-7", ProtoSpriteConfig( files: ["ui/cards/cards-small-28.png"])),
    ("icon-ai-ma-8", ProtoSpriteConfig( files: ["ui/cards/cards-small-29.png"])),
    ("icon-ai-ms-8", ProtoSpriteConfig( files: ["ui/cards/cards-small-30.png"])),
    ("icon-ai-pa-8", ProtoSpriteConfig( files: ["ui/cards/cards-small-31.png"])),
    ("icon-ai-ps-8", ProtoSpriteConfig( files: ["ui/cards/cards-small-32.png"])),
    ("icon-ai-ma-9", ProtoSpriteConfig( files: ["ui/cards/cards-small-33.png"])),
    ("icon-ai-ms-9", ProtoSpriteConfig( files: ["ui/cards/cards-small-34.png"])),
    ("icon-ai-pa-9", ProtoSpriteConfig( files: ["ui/cards/cards-small-35.png"])),
    ("icon-ai-ps-9", ProtoSpriteConfig( files: ["ui/cards/cards-small-36.png"])),
    ("icon-ai-ma-10", ProtoSpriteConfig( files: ["ui/cards/cards-small-37.png"])),
    ("icon-ai-ms-10", ProtoSpriteConfig( files: ["ui/cards/cards-small-38.png"])),
    ("icon-ai-pa-10", ProtoSpriteConfig( files: ["ui/cards/cards-small-39.png"])),
    ("icon-ai-ps-10", ProtoSpriteConfig( files: ["ui/cards/cards-small-40.png"])),
    ("icon-ai-ma-J", ProtoSpriteConfig( files: ["ui/cards/cards-small-41.png"])),
    ("icon-ai-ms-J", ProtoSpriteConfig( files: ["ui/cards/cards-small-42.png"])),
    ("icon-ai-pa-J", ProtoSpriteConfig( files: ["ui/cards/cards-small-43.png"])),
    ("icon-ai-ps-J", ProtoSpriteConfig( files: ["ui/cards/cards-small-44.png"])),
    ("icon-ai-ma-Q", ProtoSpriteConfig( files: ["ui/cards/cards-small-45.png"])),
    ("icon-ai-ms-Q", ProtoSpriteConfig( files: ["ui/cards/cards-small-46.png"])),
    ("icon-ai-pa-Q", ProtoSpriteConfig( files: ["ui/cards/cards-small-47.png"])),
    ("icon-ai-ps-Q", ProtoSpriteConfig( files: ["ui/cards/cards-small-48.png"])),
    ("icon-ai-ma-K", ProtoSpriteConfig( files: ["ui/cards/cards-small-49.png"])),
    ("icon-ai-ms-K", ProtoSpriteConfig( files: ["ui/cards/cards-small-50.png"])),
    ("icon-ai-pa-K", ProtoSpriteConfig( files: ["ui/cards/cards-small-51.png"])),
    ("icon-ai-ps-K", ProtoSpriteConfig( files: ["ui/cards/cards-small-52.png"])),

    // ("icon-action-Done", ProtoSpriteConfig(
    //         files: ["ui/action/done.png"],
    //         offset: Some((32, 16)),
    //     )),
    // ("icon-action-Charge", ProtoSpriteConfig(
    //         files: ["ui/action/charge.png"],
    //         offset: Some((32, 16)),
    //     )),
    // ("icon-action-MeleeAttack", ProtoSpriteConfig(
    //         files: ["ui/action/fight.png"],
    //         offset: Some((32, 16)),
    //     )),
    // ("icon-action-RangedAttack", ProtoSpriteConfig(
    //         files: ["ui/action/aim.png"],
    //         offset: Some((32, 16)),
    //     )),

    // ("icon-action-Defend", ProtoSpriteConfig(
    //         files: ["ui/icons/shield.png"],
    //     )),
    // ("icon-action-Attack", ProtoSpriteConfig(
    //         files: ["ui/icons/sword.png"],
    //     )),
    // ("icon-dot-blue", ProtoSpriteConfig(
    //         files: ["ui/icons/dot-blue.png"],
    //     )),
    // ("icon-dot-yellow", ProtoSpriteConfig(
    //         files: ["ui/icons/dot-yellow.png"],
    //     )),
    // ("icon-dot-red", ProtoSpriteConfig(
    //         files: ["ui/icons/dot-red.png"],
    //     )),

    ("selected", ProtoSpriteConfig(
            files: ["ui/floor/selected.png"],
        )),
    // ("action-indicator-Ambush", ProtoSpriteConfig(
    //         files: ["ui/floor/indicator-ambush.png"],
    //     )),
    // ("action-indicator-MeleeAttack", ProtoSpriteConfig(
    //         files: ["ui/directed/melee.png"],
    //     )),
    // ("action-indicator-RangedAttack", ProtoSpriteConfig(
    //         files: ["ui/directed/range.png"],
    //     )),
    // ("action-indicator-Defence", ProtoSpriteConfig(
    //         files: ["ui/floor/indicator-defence.png"],
    //     )),
    ("icon-floor-MoveTo", ProtoSpriteConfig(
            files: ["ui/floor/feet.png"],
            alpha: Some(100),
        )),
    ("icon-floor-RangedAttack-1", ProtoSpriteConfig(
            files: ["ui/floor/aim.png"],
            alpha: Some(100),
        )),
    ("icon-floor-RangedAttack-2", ProtoSpriteConfig(
            files: ["ui/floor/aim_obstacle.png"],
            alpha: Some(200),
        )),

    // === BEGIN SECTION blood and gore ================================
    ("corpses_1", ProtoSpriteConfig(
            files: ["fx/gore/corpse-01.png"],
        )),
    ("corpses_2", ProtoSpriteConfig(
            files: ["fx/gore/corpse-02.png"],
        )),
    ("blood-splatter-1", ProtoSpriteConfig(
            files: ["fx/gore/blood-01.png"],
        )),
    ("blood-splatter-2", ProtoSpriteConfig(
            files: ["fx/gore/blood-02.png"],
        )),
    ("blood-splatter-3", ProtoSpriteConfig(
            files: ["fx/gore/blood-03.png"],
        )),

    // === BEGIN SECTION Fx ================================
    ("fx-hit-1", ProtoSpriteConfig(
            files: ["fx/hit/melee-01_1.png", "fx/hit/melee-01_2.png", "fx/hit/melee-01_3.png"],
            frame_durration: Some(150),
        )),
    ("fx-hit-2", ProtoSpriteConfig(
            files: ["fx/hit/melee-02_1.png", "fx/hit/melee-02_2.png", "fx/hit/melee-02_3.png"],
            frame_durration: Some(150),
        )),
    ("fx-hit-3", ProtoSpriteConfig(
            files: ["fx/hit/melee-03_1.png", "fx/hit/melee-03_2.png", "fx/hit/melee-03_3.png"],
            frame_durration: Some(150),
        )),
    ("fx-impact-1", ProtoSpriteConfig(
            files: ["fx/hit/impact-01_1.png", "fx/hit/impact-01_2.png", "fx/hit/impact-01_3.png"],
            frame_durration: Some(100),
        )),
    ("fx-dust-1", ProtoSpriteConfig(
            files: ["fx/hit/dust-01_1.png", "fx/hit/dust-01_2.png", "fx/hit/dust-01_3.png"],
            frame_durration: Some(100),
            alpha: Some(150),
        )),
    ("fx-projectile-1", ProtoSpriteConfig(
            files: ["fx/projectiles/01_1.png", "fx/projectiles/01_1.png", "fx/projectiles/01_1.png"],
        )),
    ("fx-projectile-2", ProtoSpriteConfig(
            files: ["fx/projectiles/02_1.png", "fx/projectiles/02_1.png", "fx/projectiles/02_1.png"],
        )),
])
