[
    // === SECTION ===========================================
    // backgrounds 
    // blood and gore
    // body
    // fx
    // head
    // monster

    // EXAMPLE
    // ("melee-1h_1", ProtoSpriteConfig( 
    //         files: ["weapons_saw-1-1.png", "weapons_saw-1-2.png"],
    //         offset: Some((16, 16)),
    //         alpha: Some(200),  // optional, defaults to 255
    //         frame_durration: Some(200), // optional, defaults to 50, only relevant for animations
    //     )),
    
    // === BEGIN SECTION head ================================
    ("head_1", ProtoSpriteConfig(
            files: ["chars/heads/no-helm-1.png"],
            offset: Some((0, -32)),
        )),
    ("head_2", ProtoSpriteConfig(
            files: ["chars/heads/no-helm-2.png"],
            offset: Some((0, -32)),
        )),
    ("head_3", ProtoSpriteConfig(
            files: ["chars/heads/no-helm-3.png"],
            offset: Some((0, -32)),
        )),
    ("head_4", ProtoSpriteConfig(
            files: ["chars/heads/no-helm-4.png"],
            offset: Some((0, -32)),
        )),
    ("head_5", ProtoSpriteConfig(
            files: ["chars/heads/no-helm-5.png"],
            offset: Some((0, -32)),
        )),
    ("head_6", ProtoSpriteConfig(
            files: ["chars/heads/no-helm-6.png"],
            offset: Some((0, -32)),
        )),
    ("head-heavy_1", ProtoSpriteConfig(
            files: ["chars/heads/helm-01.png"],
            offset: Some((0, -32)),
        )),
    ("head-heavy_2", ProtoSpriteConfig(
            files: ["chars/heads/helm-02.png"],
            offset: Some((0, -32)),
        )),
    ("head-heavy_3", ProtoSpriteConfig(
            files: ["chars/heads/helm-03.png"],
            offset: Some((0, -32)),
        )),
    ("head-heavy_4", ProtoSpriteConfig(
            files: ["chars/heads/helm-04.png"],
            offset: Some((0, -32)),
        )),
    ("head-heavy_5", ProtoSpriteConfig(
            files: ["chars/heads/helm-05.png"],
            offset: Some((0, -32)),
        )),
    ("head-heavy_6", ProtoSpriteConfig(
            files: ["chars/heads/helm-06.png"],
            offset: Some((0, -32)),
        )),
    ("head-heavy_7", ProtoSpriteConfig(
            files: ["chars/heads/helm-07.png"],
            offset: Some((0, -32)),
        )),
    ("head-heavy_8", ProtoSpriteConfig(
            files: ["chars/heads/helm-08.png"],
            offset: Some((0, -32)),
        )),
    ("head-zombi_1", ProtoSpriteConfig(
            files: ["chars/heads/zombi-1.png"],
            offset: Some((0, -32)),
        )),
    ("head-zombi_2", ProtoSpriteConfig(
            files: ["chars/heads/zombi-2.png"],
            offset: Some((0, -32)),
        )),
    ("head-zombi_3", ProtoSpriteConfig(
            files: ["chars/heads/zombi-3.png"],
            offset: Some((0, -32)),
        )),
    ("head-zombi_4", ProtoSpriteConfig(
            files: ["chars/heads/zombi-4.png"],
            offset: Some((0, -32)),
        )),
    ("head-zombi_5", ProtoSpriteConfig(
            files: ["chars/heads/zombi-5.png"],
            offset: Some((0, -32)),
        )),
    ("head-zombi_6", ProtoSpriteConfig(
            files: ["chars/heads/zombi-6.png"],
            offset: Some((0, -32)),
        )),
    ("head-zombi_7", ProtoSpriteConfig(
            files: ["chars/heads/zombi-7.png"],
            offset: Some((0, -32)),
        )),

    // === BEGIN SECTION body ================================
    ("body-heavy_1", ProtoSpriteConfig(
            files: ["chars/bodies/heavy-1.png"],
            offset: Some((0, -16)),
        )),

    ("body-light_1", ProtoSpriteConfig(
            files: ["chars/bodies/light-1.png"],
            offset: Some((0, -16)),
        )),
    ("body-light_2", ProtoSpriteConfig(
            files: ["chars/bodies/light-2.png"],
            offset: Some((0, -16)),
        )),
    ("body-light_3", ProtoSpriteConfig(
            files: ["chars/bodies/light-3.png"],
            offset: Some((0, -16)),
        )),
    ("body-light_4", ProtoSpriteConfig(
            files: ["chars/bodies/light-4.png"],
            offset: Some((0, -16)),
        )),
    ("body-zombi_1", ProtoSpriteConfig(
            files: ["chars/bodies/zombi-1.png"],
            offset: Some((0, -16)),
        )),
    ("body-zombi_2", ProtoSpriteConfig(
            files: ["chars/bodies/zombi-2.png"],
            offset: Some((0, -16)),
        )),

    // === BEGIN SECTION charcter fx ================================
    ("char-fx-ko", ProtoSpriteConfig(
            files: ["chars/fx/ko_1.png", "chars/fx/ko_2.png", "chars/fx/ko_3.png", "chars/fx/ko_4.png"],
            offset: Some((0, -16)),
        )),

    // === BEGIN SECTION body ================================
    ("monster-sucker", ProtoSpriteConfig(
            files: ["monster/sucker-idle_1.png", "monster/sucker-idle_2.png", "monster/sucker-idle_3.png", "monster/sucker-idle_4.png"],
            offset: Some((0, -20)),
            frame_durration: Some(150),
        )),
    ("monster-worm", ProtoSpriteConfig(
            files: ["monster/worm-idle.png"],
        )),
    ("monster-worm-dust", ProtoSpriteConfig(
            files: ["monster/worm-dust_1.png", "monster/worm-dust_2.png", "monster/worm-dust_3.png"],
            frame_durration: Some(150),
        )),

    // === BEGIN SECTION Weapons ================================
    ("melee-1h_1", ProtoSpriteConfig( // power mace
            files: ["chars/equipment/mace-1_1.png", "chars/equipment/mace-1_2.png"],
            frame_durration: Some(200),
            offset: Some((0, -16)),
        )),
    ("melee-1h_2", ProtoSpriteConfig( // scimitar
            files: ["chars/equipment/sword-1.png"],
        )),
    ("staff-1", ProtoSpriteConfig( // injector
            files: ["chars/equipment/staff-1.png"],
        )),
    ("staff-2", ProtoSpriteConfig( // staff of light
            files: ["chars/equipment/staff-2.png"],
        )),
    ("melee-2h_1", ProtoSpriteConfig( // power saw
            files: ["chars/equipment/saw-1_1.png", "chars/equipment/saw-1_2.png"],
            offset: Some((0, -16)),
            frame_durration: Some(200),
        )),
    ("melee-2h_2", ProtoSpriteConfig( // spear #1
            offset: Some((0, -16)),
            files: ["chars/equipment/spear-1.png"],
        )),
    ("melee-2h_3", ProtoSpriteConfig( // spear #2
            offset: Some((0, -16)),
            files: ["chars/equipment/spear-2.png"],
        )),
    ("shild_1", ProtoSpriteConfig(
            files: ["chars/equipment/shild-1.png"],
        )),
    ("gun-2h_1", ProtoSpriteConfig(
            files: ["chars/equipment/gun-1.png"],
        )),
    ("xbow-2h_1", ProtoSpriteConfig(
            files: ["chars/equipment/xbow-1.png"],
        )),
    ("claws_1", ProtoSpriteConfig( // both claws in one image
            files: ["chars/equipment/claws-1.png"],
        )),

    // === BEGIN SECTION team backgrounds ================================
    ("bg_team_1", ProtoSpriteConfig(
            files: ["chars/backgrounds/team-1.png"],
        )),
    ("bg_team_2", ProtoSpriteConfig(
            files: ["chars/backgrounds/team-2.png"],
        )),
    ("bg_active", ProtoSpriteConfig(
            files: ["chars/backgrounds/active_1.png", "chars/backgrounds/active_2.png", "chars/backgrounds/active_3.png"],
            frame_durration: Some(100),
        )),

    // === BEGIN SECTION floor backgrounds ================================
    ("floor", ProtoSpriteConfig(
            files: ["map/floor-1.png"],
        )),
    ("wall-1", ProtoSpriteConfig(
            files: ["map/wall-1.png"],
        )),
    ("barricade-NW", ProtoSpriteConfig(
            files: ["map/barricade_NW-1.png"],
        )),

    // === BEGIN SECTION icons ================================
    ("icon-action-Done", ProtoSpriteConfig(
            files: ["ui/action/done.png"],
            offset: Some((32, -16)),
        )),
    ("icon-action-Charge", ProtoSpriteConfig(
            files: ["ui/action/charge.png"],
            offset: Some((32, -16)),
        )),
    ("icon-action-MeleeAttack", ProtoSpriteConfig(
            files: ["ui/action/fight.png"],
            offset: Some((32, -16)),
        )),
    ("icon-action-RangedAttack", ProtoSpriteConfig(
            files: ["ui/action/aim.png"],
            offset: Some((32, -16)),
        )),

    ("icon-action-Defend", ProtoSpriteConfig(
            files: ["ui/icons/shield.png"],
        )),
    ("icon-action-Attack", ProtoSpriteConfig(
            files: ["ui/icons/sword.png"],
        )),
    ("icon-dot-blue", ProtoSpriteConfig(
            files: ["ui/icons/dot-blue.png"],
        )),
    ("icon-dot-yellow", ProtoSpriteConfig(
            files: ["ui/icons/dot-yellow.png"],
        )),
    ("icon-dot-red", ProtoSpriteConfig(
            files: ["ui/icons/dot-red.png"],
        )),

    ("selected", ProtoSpriteConfig(
            files: ["ui/floor/selected.png"],
        )),
    ("icon-floor-MoveTo", ProtoSpriteConfig(
            files: ["ui/floor/feet.png"],
            alpha: Some(100),  
        )),
    ("icon-floor-RangedAttack-1", ProtoSpriteConfig(
            files: ["ui/floor/aim.png"],
            alpha: Some(100),  
        )),
    ("icon-floor-RangedAttack-2", ProtoSpriteConfig(
            files: ["ui/floor/aim_obstacle.png"], 
            alpha: Some(200),  
        )),

    // === BEGIN SECTION blood and gore ================================
    ("corpses_1", ProtoSpriteConfig(
            files: ["fx/gore/corpse-01.png"],
        )),
    ("corpses_2", ProtoSpriteConfig(
            files: ["fx/gore/corpse-02.png"],
        )),
    ("blood-splatter-1", ProtoSpriteConfig(
            files: ["fx/gore/blood-01.png"],
        )),
    ("blood-splatter-2", ProtoSpriteConfig(
            files: ["fx/gore/blood-02.png"],
        )),
    ("blood-splatter-3", ProtoSpriteConfig(
            files: ["fx/gore/blood-03.png"],
        )),

    // === BEGIN SECTION Fx ================================
    ("fx-hit-1", ProtoSpriteConfig(
            files: ["fx/hit/melee-01_1.png", "fx/hit/melee-01_2.png", "fx/hit/melee-01_3.png"],
            frame_durration: Some(150),
        )),
    ("fx-hit-2", ProtoSpriteConfig(
            files: ["fx/hit/melee-02_1.png", "fx/hit/melee-02_2.png", "fx/hit/melee-02_3.png"],
            frame_durration: Some(150),
        )),
    ("fx-hit-3", ProtoSpriteConfig(
            files: ["fx/hit/melee-03_1.png", "fx/hit/melee-03_2.png", "fx/hit/melee-03_3.png"],
            frame_durration: Some(150),
        )),
    ("fx-impact-1", ProtoSpriteConfig(
            files: ["fx/hit/impact-01_1.png", "fx/hit/impact-01_2.png", "fx/hit/impact-01_3.png"],
            frame_durration: Some(100),
        )),
    ("fx-dust-1", ProtoSpriteConfig(
            files: ["fx/hit/dust-01_1.png", "fx/hit/dust-01_2.png", "fx/hit/dust-01_3.png"],
            frame_durration: Some(100),
            alpha: Some(150),
        )),
    ("fx-projectile-1", ProtoSpriteConfig(
            files: ["fx/projectiles/01_1.png", "fx/projectiles/01_1.png", "fx/projectiles/01_1.png"],
        )),
    ("fx-projectile-2", ProtoSpriteConfig(
            files: ["fx/projectiles/02_1.png", "fx/projectiles/02_1.png", "fx/projectiles/02_1.png"],
        )),
]
