[
    // === BEGIN SECTION head ================================
    ("head_1", ProtoSpriteConfig(
            files: ["ArenaRL_Assets_(heads)-1.png"],
            offset: (40, 24),
            alpha: 255,
        )),
    ("head_2", ProtoSpriteConfig(
            files: ["ArenaRL_Assets_(heads)-2.png"],
            offset: (40, 24),
            alpha: 255,
        )),
    ("head_3", ProtoSpriteConfig(
            files: ["ArenaRL_Assets_(heads)-3.png"],
            offset: (40, 24),
            alpha: 255,
        )),
    ("head_4", ProtoSpriteConfig(
            files: ["ArenaRL_Assets_(heads)-4.png"],
            offset: (40, 24),
            alpha: 255,
        )),
    ("head_5", ProtoSpriteConfig(
            files: ["ArenaRL_Assets_(heads)-13.png"],
            offset: (40, 24),
            alpha: 255,
        )),
    ("head-heavy_1", ProtoSpriteConfig(
            files: ["ArenaRL_Assets_(heads)-15.png"],
            offset: (40, 24),
            alpha: 255,
        )),
    ("head-heavy_2", ProtoSpriteConfig(
            files: ["ArenaRL_Assets_(heads)-17.png"],
            offset: (40, 24),
            alpha: 255,
        )),

    // === BEGIN SECTION body ================================
    ("body-heavy_1", ProtoSpriteConfig(
            files: ["ArenaRL_Assets-6.png"],
            offset: (16, 16),
            alpha: 255,
        )),

    ("body-light_1", ProtoSpriteConfig(
            files: ["ArenaRL_Assets-7.png"],
            offset: (16, 16),
            alpha: 255,
        )),
    ("body-light_2", ProtoSpriteConfig(
            files: ["ArenaRL_Assets-8.png"],
            offset: (16, 16),
            alpha: 255,
        )),
    ("body-light_3", ProtoSpriteConfig(
            files: ["ArenaRL_Assets-9.png"],
            offset: (16, 16),
            alpha: 255,
        )),

    // === BEGIN SECTION head ================================
    ("melee-1h_1", ProtoSpriteConfig( // power mace
            files: ["ArenaRL_Assets_Weapons_-10.png", "ArenaRL_Assets_Weapons_-11.png"],
            offset: (16, 16),
            alpha: 255,
            frame_durration: Some(200),
        )),
    ("melee-1h_2", ProtoSpriteConfig( // injector
            files: ["ArenaRL_Assets_Weapons_-3.png"],
            offset: (16, 16),
            alpha: 255,
        )),
    ("melee-1h_3", ProtoSpriteConfig( // scimitar
            files: ["ArenaRL_Assets_Weapons_-9.png"],
            offset: (16, 16),
            alpha: 255,
        )),
    ("melee-2h_1", ProtoSpriteConfig( // power saw
            files: ["ArenaRL_Assets_Weapons_-4.png", "ArenaRL_Assets_Weapons_-5.png"],
            offset: (16, 16),
            alpha: 255,
            frame_durration: Some(200),
        )),
    ("melee-2h_2", ProtoSpriteConfig( // spear
            files: ["ArenaRL_Assets_Weapons_-8.png"],
            offset: (16, 16),
            alpha: 255,
        )),
    ("shild_1", ProtoSpriteConfig(
            files: ["ArenaRL_Assets_Weapons_-6.png"],
            offset: (16, 16),
            alpha: 255,
        )),
    ("shild_2", ProtoSpriteConfig(
            files: ["ArenaRL_Assets_Weapons_-7.png"],
            offset: (16, 16),
            alpha: 255,
        )),

    // === BEGIN SECTION team backgrounds ================================
    ("team_1_active", ProtoSpriteConfig(
            files: ["ArenaRL_Assets_Backgrounds-2.png"],
            offset: (16, 16),
            alpha: 255,
        )),
    ("team_1_inactive", ProtoSpriteConfig(
            files: ["ArenaRL_Assets_Backgrounds-1.png"],
            offset: (16, 16),
            alpha: 255,
        )),
    ("team_2_active", ProtoSpriteConfig(
            files: ["ArenaRL_Background-3.png"],
            offset: (0, 0),
            alpha: 255,
        )),
    ("team_2_inactive", ProtoSpriteConfig(
            files: ["ArenaRL_Background-4.png"],
            offset: (0, 0),
            alpha: 255,
        )),

    // === BEGIN SECTION floor backgrounds ================================
    ("floor", ProtoSpriteConfig(
            files: ["floor.png"],
            offset: (32, 32),
            alpha: 255,
        )),

    ("selected", ProtoSpriteConfig(
            files: ["selected.png"],
            offset: (32, 32),
            alpha: 255,
        )),
]
